# Node
**/node_modules
**/frontend/node_modules

# Vite / build outputs
**/dist
**/frontend/dist

# Git
.git

# Python envs
__pycache__/
*.py[cod]

# Docker
*.tar

# Misc
.vscode
.env
.DS_Store

# Logs
npm-debug.log
yarn-error.log

# Avoid copying large or unnecessary files
k8s/**/sql/**
**/tests/**
**/test-results/**
